.custom-popover {
    position: absolute;
    top: -60px;
    left: -35px;
    z-index: 1060;
    max-width: 276px;
    width: 159px;
    padding: 1px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    line-break: auto;
    line-height: 1.42857;
    text-align: left;
    text-align: start;
    text-decoration: none;
    text-shadow: none;
    text-transform: none;
    white-space: normal;
    word-break: normal;
    word-spacing: normal;
    word-wrap: normal;
    font-size: 14px;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);

    .popover__content {
        padding: 9px 14px;
    }
}

.custom-popover > .arrow,
.custom-popover > .arrow:after {
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
}

.custom-popover > .arrow {
    left: 50%;
    margin-left: -11px;
    border-bottom-width: 0;
    border-top-color: #999999;
    border-top-color: rgba(0, 0, 0, 0.2);
    bottom: -22px;
}

.custom-popover > .arrow {
    border-width: 11px;
}

.custom-popover > .arrow:after {
    content: ' ';
    bottom: -9px;
    margin-left: -10px;
    border-bottom-width: 0;
    border-top-color: #fff;
}

.custom-popover > .arrow:after {
    border-width: 10px;
    content: '';
}

#popover-positioned.popover.top > .arrow:after {
    border-top-color: #fff;
}

body.dark-mode .custom-popover {
    background-color: #1b1c20;

    .popover-content {
        background-color: #1b1c20;
    }

    .arrow {
        background-color: transparent !important;
        border-top-color: #1b1c20;

        &::after {
            border-bottom-color: #1b1c20;
            border-top-color: #1b1c20;
        }
    }
}
