@import '../../assets/scss/colors.scss';


.dark-mode {
    .tickets__mass-act {
        background-color: #27282d;
    }

    .check-all__box,
    .mass-act__list {
        border-color: $grayLighter;
    }

    .dropdown-menu>li>a:hover,
    .dropdown-submenu #dropdown-submenu-btn:hover {
        color: #fff;
        background-color: #2e3036;
    }

    .dropdown-submenu #dropdown-submenu-btn {
        color: $white;
        background-color: transparent;
    }
}
