.loaders_buttonSpinner{
    display: inline;
    animation: spinnerRotate 1s infinite linear;
    margin-right: 2px;
    background-color: transparent !important;
}

@keyframes spinnerRotate{
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}